.arabic {
  font-family: "Aref Ruqaa", serif;
}
.code {
  font-family: "VT323", monospace;
  text-align: center;
  vertical-align: center;
}

h1 {
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
}

h2 {
  font-family: "VT323", monospace;
}

.calendar {
  display: block;
  margin: 5px auto;
  height: 40px;
  width: 100px;
  font-family: "VT323", monospace;
}


.blog {
  margin: 20px;
  text-align: center;
  vertical-align: center;
  visibility: hidden;
}

.blog-header  {
  padding: 5px;
  text-align: center;
  vertical-align: center;
}

.blog-entry {
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 20px;
}

p {
  font-size: 18px;
}

a {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  color: #ff6347;
  text-decoration: underline;
}

.marquee {
  padding: 30px;
}

article {
  padding: 10px;
}

.logo {
  padding: 5px;
  width: 20;
  vertical-align:bottom;
}
